.add-photo {
    display: grid;
    place-items: center;
    &__container {
        display: grid;
        grid-template-columns: repeat(5, 1fr );
        grid-template-areas:
            "img img description description description"
            "custom custom description description description"
            "upload upload upload upload upload";
        place-items: center;
        border: 3px solid $color-primary;
        padding: 4rem;
        border-radius: 5px;
    }

    &__custom {
        grid-area: custom;
        background-color: $color-primary;
        font-family: $font-primary;
        color: white;
        font-size: 1.8rem;
        border-radius: 5px;
        width: 100%;
        padding: 0.2em 4em;
        text-align: center;
        cursor: pointer;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        grid-area: img;
        fill: $color-primary;
        color: $color-primary;
    }

    &__btn {
        grid-area: btn;
        display: none;
    }

    &__upload {
        grid-area: upload;
    }

    &__description {
        grid-area: description;
        margin-left: 1rem;
        width: 100%;
        height: 100%;
    }
}
