.add-photo {
    display: grid;
    place-items: center;
    &__container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
            "img img description description description"
            "custom custom description description description"
            "upload upload upload upload upload";
        place-items: center;
        border: 3px solid $color-primary;
        padding: 4rem;
        border-radius: 5px;

        @include respond(tab-port) {
            grid-template-columns: 1fr;
            grid-template-areas:
                "img"
                "custom"
                "description"
                "upload";
        }
    }

    &__custom {
        grid-area: custom;
        background-color: $color-primary;
        font-family: $font-primary;
        color: white;
        font-size: 1.8rem;
        border-radius: 5px;
        width: 100%;
        padding: 0.2em 4em;
        text-align: center;
        cursor: pointer;

        @include respond(tab-port){
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            width: 100%;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        grid-area: img;
        fill: $color-primary;
        color: $color-primary;
    }

    &__btn {
        grid-area: btn;
        display: none;
    }

    &__upload {
        grid-area: upload;
    }

    &__description {
        grid-area: description;
        margin-left: 1rem;
        width: 100%;
        height: 100%;

        @include respond(tab-port){
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            margin-left: 0;
        }
    }
}
