.profile {
    padding: 15vh 12vw;
    &__grid {
        $ratio: 400px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax($ratio, 1fr));
        grid-gap: 1rem;
        & > div {
            background: $color-white;
            display: grid;
            place-items: center;
            &::before {
                // for apsect ratio
                content: "";
                display: block;
                padding-bottom: 100%;
                grid-area: 1 / 1 / 2 / 2;
            }
            & img {
                width: 100%;
                height: $ratio;
                object-fit: cover;
                grid-area: 1 / 1 / 2 / 2;
            }
        }
    }
}
