$color-primary: #ff006e;
$color-primary-2: #e00564;
$color-dark: #2b2d42;
$color-dark-2: #404258;
$color-white: #edf2f4;
$color-grey: #6c757d;
$color-black: #000;

$font-primary: "Pacifico", cursive;
$font-secondary: "Roboto", sans-serif;

$body-padding: 25vw;
