.comment {
    display: grid;
    grid-template-columns: 1fr auto;
    font-size: 1.2rem;
    &__container {
        flex-grow: 1;
    }

    &__user {
        display: inline;
        cursor: pointer;
        margin-right: 0.5rem;
    }

    &__comment {
        display: inline;
        word-break: break-word;
    }

    &__likes {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    
    &__like {
        width: 2rem;
        cursor: pointer;
        justify-self: flex-end;
        fill: $color-primary;
    }
}
