.comment-section {
    &__text-input {
        width: 100%;
        font-size: 1.4rem;
        padding: 0.4em 1em;
        border-radius: 50px;
        border: 3px solid $color-primary;
        background-color: transparent;
        outline: none;
        color: $color-primary;
        font-weight: 500;

        &::placeholder {
            color: rgba($color-grey, 0.6);
        }
    }

    &__button {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        background-color: transparent;
        outline: none;
        border: none;
    }

    &__see-more{
        cursor: pointer;
    }

    &__icon {
        width: 2rem;
        fill: $color-primary;
    }

    &__form-group {
        position: relative;
    }
}