.form {
    border: 3px solid $color-primary;
    border-radius: 5px;
    padding: 5rem 8rem;

    & > * {
        margin-top: 1rem;
    }

    &__input {
        display: block;
        border-radius: 5px;
        border: none;
        padding: 1em;
        font-size: 1.8rem;
        outline: none;
        color: $color-black;
        font-weight: 600;

        &-wrapper {
            position: relative;
        }


        &--stylized {
            width: 100%;
            font-size: 1.4rem;
            padding: 0.4em 2em 0.4em 1em;
            border-radius: 50px;
            border: 3px solid $color-primary;
            background-color: transparent;
            outline: none;
            color: $color-primary;
            font-weight: 500;

            &::placeholder {
                color: rgba($color-grey, 0.6);
            }
        }

        &__button {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
            background-color: transparent;
            outline: none;
            border: none;

            & svg {
                width: 2rem;
                fill: $color-primary;
            }
        }

        &::placeholder {
            color: $color-grey;
        }
    }

    &__textarea {
        border-radius: 5px;
        border: none;
        background-color: $color-white;
        outline: none;
        font-size: 1.8rem;
        padding: 1em;
        font-family: $font-secondary;
    }
}
