.menu{
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    background-color: $color-white;
    padding: 1em;
    border-radius: 5px;
    width: 15rem;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    z-index: 10;

    &--dark{
        background-color: $color-dark-2;
    }

    @include respond(tab-port){
        top: 2.5rem;
        left: initial;
        right: 0;
    }

    &--active{
        visibility: visible;
        opacity: 1;
    }
}