.modal-card {
    display: grid;
    grid-template-columns: 1fr 30%;
    border-radius: 5px;

    @include respond(tab-port){
        grid-template-columns: 1fr;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        grid-area: 1 / 1 / 2 / 2;
    }

    &__content {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: $color-white;
    }

    &__comments {
        flex-grow: 1;
        position: relative;
        
        @include respond(tab-port){
            height: 100px;
        }

        & section {
            position: absolute;
            height: 100%;
            width: 100%;
            overflow-y: scroll;

            & > * {
                margin-top: 0.3rem;
            }
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &__headings {
        display: grid;
        place-items: center;

        & h1{
            display: flex;
            align-items: center;
        }

        & p{
            font-size: 1.4rem;
        }
    }
}
