.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em $body-padding;
    align-items: center;
    background-color: $color-dark;
    z-index: 10;

    @include respond(tab-port){
        padding: 1em 2em;
    }

    &__container{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
    }

    &__logo{
        width: 4rem;
        height: 4rem;
    }

    &__title{
        color: $color-primary;
        font-family: $font-primary;
        font-size: 3.6rem;
    }

    &__icon{
        width: 3rem;
        fill: $color-primary;
        color: $color-primary;
        cursor: pointer;
    }

    &__actions{
        display: flex;
        gap: 2rem;
    }

    &__user{
        position: relative;
        background-color: $color-white;
        border-radius: 50%;
        display: grid;
        place-items: center;
        width: 2.5em;
        height: 2.5em;
        font-weight: 800;
        font-size: 1.4rem;
        color: $color-primary;
        cursor: pointer;
    }

    &__menu-item{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        fill: $color-primary;
        color: $color-primary;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 1.4rem;

        & svg{
            width: 2.5rem;
        }
    }
}
