/*
    $breakpoint argument choices:
        - phone
        - tab-port
        - tab-land
        - big-desktop

        1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 76%;
  }
}

body {
  box-sizing: border-box;
  background-color: #2b2d42;
}
@media (max-width: 75em) {
  body {
    padding: 1vw;
  }
}

main {
  padding: 15vh 25vw;
}
@media (max-width: 75em) {
  main {
    padding: 15vh 1vw;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.fullwidth {
  width: 100% !important;
}

.text-align-center {
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em 25vw;
  align-items: center;
  background-color: #2b2d42;
  z-index: 99;
}
.navbar__container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.navbar__logo {
  width: 4rem;
  height: 4rem;
}
.navbar__title {
  color: #ff006e;
  font-family: "Pacifico", cursive;
  font-size: 3.6rem;
}
.navbar__icon {
  width: 3rem;
  fill: #ff006e;
  color: #ff006e;
  cursor: pointer;
}
.navbar__actions {
  display: flex;
  gap: 2rem;
}
.navbar__user {
  position: relative;
  background-color: #edf2f4;
  border-radius: 50%;
  display: grid;
  place-items: center;
  width: 2.5em;
  height: 2.5em;
  font-weight: 800;
  font-size: 1.4rem;
  color: #ff006e;
  cursor: pointer;
}
.navbar__menu-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  fill: #ff006e;
  color: #ff006e;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
}
.navbar__menu-item svg {
  width: 2.5rem;
}

.card {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
  grid-template-rows: repeat(3, auto) 1fr;
  grid-template-areas: "img" "username" "actions" "description";
  border: 3px solid #ff006e;
  padding: 2rem;
  width: 100%;
  color: #ff006e;
  border-radius: 5px;
}
.card__frame {
  background: #edf2f4;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.card__frame::before {
  content: "";
  display: block;
  padding-bottom: 100%;
  grid-area: 1/1/2/2;
}
.card__img {
  grid-area: img;
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-area: 1/1/2/2;
}
.card__username {
  grid-area: username;
  font-size: 2.4rem;
  cursor: pointer;
}
.card__description {
  grid-area: description;
}
.card__actions {
  grid-area: actions;
  display: flex;
  cursor: pointer;
  gap: 5rem;
}
.card__action-box {
  display: flex;
  gap: 1rem;
}
.card__icon-number {
  font-size: 1.4rem;
}
.card__icon {
  fill: #ff006e;
  width: 2rem;
}
.card__description {
  font-size: 1.8rem;
  word-break: break-word;
  width: 100%;
}

.form {
  border: 3px solid #ff006e;
  border-radius: 5px;
  padding: 5rem 8rem;
}
.form > * {
  margin-top: 1rem;
}
.form__input {
  display: block;
  border-radius: 5px;
  border: none;
  padding: 1em;
  font-size: 1.8rem;
  outline: none;
  color: #000;
  font-weight: 600;
}
.form__input::placeholder {
  color: #6c757d;
}
.form__textarea {
  border-radius: 5px;
  border: none;
  background-color: #edf2f4;
  outline: none;
  font-size: 1.8rem;
  padding: 1em;
  font-family: "Roboto", sans-serif;
}

.btn {
  font-size: 2.4rem;
  padding: 0.2em 4em;
  background-color: #ff006e;
  color: #edf2f4;
  font-family: "Pacifico", cursive;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in, transform 0.2s ease-in;
}
.btn:hover {
  background-color: #e00564;
  transform: scale(1.05);
}
.btn:active {
  transform: scale(1.02);
}
.btn--small {
  font-size: 1.4rem;
  padding: 0 2em;
}
.btn--outlined {
  background-color: transparent;
  border: 2px solid #ff006e;
  color: #ff006e;
}
.btn--outlined:hover {
  background-color: rgba(224, 5, 100, 0.2);
}
.btn:disabled {
  background-color: rgba(255, 0, 110, 0.6);
}
.btn:hover:disabled {
  transform: scale(1);
}

.heading {
  font-family: "Pacifico", cursive;
  font-size: 4.2rem;
  color: #ff006e;
}
.heading--subtitle {
  font-size: 1.8rem;
}
.heading--roboto {
  font-family: "Roboto", sans-serif;
}

.menu {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  background-color: #edf2f4;
  padding: 1em;
  border-radius: 5px;
  width: 15rem;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  z-index: 10;
}
.menu--active {
  visibility: visible;
  opacity: 1;
}

.modal {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 9999;
  display: grid;
  place-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in, visibility 0.2s ease-in;
}
.modal--visible {
  opacity: 1;
  visibility: visible;
}
.modal__content {
  background-color: white;
  min-height: 50%;
  min-width: 50%;
  border-radius: 5px;
  overflow: hidden;
}
.modal__main {
  height: 100%;
  width: 100%;
}
.modal__close {
  width: 4rem;
  margin-left: auto;
  padding: 1em;
  cursor: pointer;
}

.comment-section__text-input {
  width: 100%;
  font-size: 1.4rem;
  padding: 0.4em 1em;
  border-radius: 50px;
  border: 3px solid #ff006e;
  background-color: transparent;
  outline: none;
  color: #ff006e;
  font-weight: 500;
}
.comment-section__text-input::placeholder {
  color: rgba(108, 117, 125, 0.6);
}
.comment-section__form-group {
  position: relative;
}
.comment-section__form-group__icon {
  width: 2rem;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  fill: #ff006e;
  cursor: pointer;
}

.comment {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.comment__user {
  font-size: 1.2rem;
  cursor: pointer;
}
.comment__comment {
  margin-right: auto;
  font-size: 1.2rem;
}
.comment__like {
  width: 2rem;
  cursor: pointer;
}

.landing {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 5rem;
}
@media (max-width: 75em) {
  .landing {
    grid-template-columns: none;
  }
}
.landing__layout > *:not(:first-child) {
  margin-top: 5rem;
}
.landing__layout::-webkit-scrollbar {
  display: none;
}
.landing__news-container {
  height: 82vh;
  width: 100%;
}
@media (max-width: 75em) {
  .landing__news-container {
    display: none;
  }
}
.landing__news {
  position: fixed;
  z-index: 1;
  padding: 2rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  border: 3px solid #ff006e;
  border-radius: 5px;
  height: 82vh;
  width: 20%;
}
@media (max-width: 75em) {
  .landing__news {
    display: none;
  }
}

.login {
  display: grid;
  place-items: center;
}
.login__error {
  color: red;
  text-align: center;
  font-size: 1.4rem;
}

.add-photo {
  display: grid;
  place-items: center;
}
.add-photo__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "img img description description description" "custom custom description description description" "upload upload upload upload upload";
  place-items: center;
  border: 3px solid #ff006e;
  padding: 4rem;
  border-radius: 5px;
}
.add-photo__custom {
  grid-area: custom;
  background-color: #ff006e;
  font-family: "Pacifico", cursive;
  color: white;
  font-size: 1.8rem;
  border-radius: 5px;
  width: 100%;
  padding: 0.2em 4em;
  text-align: center;
  cursor: pointer;
}
.add-photo__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-area: img;
  fill: #ff006e;
  color: #ff006e;
}
.add-photo__btn {
  grid-area: btn;
  display: none;
}
.add-photo__upload {
  grid-area: upload;
}
.add-photo__description {
  grid-area: description;
  margin-left: 1rem;
  width: 100%;
  height: 100%;
}

.profile {
  padding: 15vh 12vw;
}
@media (max-width: 56.25em) {
  .profile {
    display: grid;
    place-items: center;
    padding: 15vh 1rem;
  }
}
.profile__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}
.profile__grid > div {
  background: #edf2f4;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.profile__grid > div::before {
  content: "";
  display: block;
  padding-bottom: 100%;
  grid-area: 1/1/2/2;
}
.profile__grid > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-area: 1/1/2/2;
}
.profile__modal {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 25rem);
  place-items: center;
  height: 100%;
}
@media (max-width: 56.25em) {
  .profile__modal {
    grid-template-columns: 1fr;
  }
}
.profile__modal img {
  width: 100%;
  height: 100%;
}
.profile__modal__content {
  align-self: start;
  padding: 3rem 0;
}
.profile__modal__icons {
  display: flex;
  gap: 2rem;
  justify-content: center;
  color: #ff006e;
  font-size: 1.8rem;
}
.profile__modal__icons svg {
  width: 2rem;
  fill: #ff006e;
}
.profile__modal__icon-box {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.profile__modal__description {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
